.Home {
  display: flex;
}

.Category {
  align-items: baseline;
  border-bottom: 1px black dotted;
  border-right: 1px black dotted;
  display: flex;
  flex-direction: column;
  margin: 0 0 auto 5px;
  padding: 0 0 10px 10px;
  width: 250px;
}

.Input {
  border-radius: 10px;
  height: 30px;
  margin: 0 20px 10px;
  width: 800px;
}

.Icon-car {
  margin: 20px 50px 0 20px;
  width: 30px;
}

.Search {
  align-items: baseline;
  border-bottom: 1px black dotted;
  display: flex;
  height: 5%;
  justify-content: flex-start;
  margin-left: 10px;
  width: 220%;
}

.Lista {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 900px;
}

.Card {
  border: 1px black solid;
  margin: 10px;
  text-align: center;
  width: 200px;
}

.Title {
  font-family: cursive;
  font-size: 12pt;
}

.Image {
  width: 100%;
}
